
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_staffpage.cshtml";
}

<style>




    table {
        background-color:white;
        margin:10px;
    }

    tr {
        box-shadow: 5px 5px 5px 5px rgba(141, 141, 141, 0.548);
    }

    td {
        padding:10px;
        
    }
</style>



<div class="content" style="margin-left:300px;">
    <p><button style="width:250px; background-color:darkslateblue; padding:10px; text-align:center; border:none;
margin:10px"> <a style=" text-decoration:none;font-size:15px;  color:white; font-weight:900;" href="/Store/CreateProduct">Add Product</a></button></p>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Category id</th>
            <th>Quantity</th>
            <th>Details</th>
            <th>Image</th>



            <th></th>
            <th></th>
        </tr>



        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.P_name</td>
                <td>@s.P_price</td>
                <td>@s.P_categorie_id</td>
                <td>@s.P_quantity </td>
                <td>@s.P_details</td>
                <td ><img src="~/Content/img/@s.P_img" alt="" style="width:50px; height:50px;"></td>



                <td><a class="btn btn-info" style="width:250px; background-color:forestgreen; padding:10px; text-align:center; border:none;
margin:10px" href="/Store/EditProduct/@s.Id">Edit</a></td>



                <td><a class="btn btn-danger" style="width:250px; background-color:red; padding:10px; text-align:center; border:none;
margin:10px" href="/Store/DeleteProduct/@s.Id">Delete</a></td>



            </tr>
        }
    </table>

</div>

