
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_Userlayout.cshtml";
}
<div class="header-mid">
    <div class="middle-header">
        <a href="#">
            <div class="logo">
                <img src="https://cdn-icons-png.flaticon.com/512/2833/2833228.png" />
                <h3>Med<span style="color:deeppink;">life</span></h2>
            </div>
        </a>
        <div class="search-box">
            <label>
                <input type="search" name="search" id="search" class="search" placeholder="Search for anything of your mind...….."><button><i class="fas fa-search"></i></button>
            </label>
            <div class="serach-result">
                <ul>
                    <li>hghghgfh</li>
                    <li>hghghgfh</li>
                    <li>hghghgfh</li>
                    <li>hghghgfh</li>
                    <li>hghghgfh</li>
                </ul>
            </div>
        </div>
        <div class="middle-header-rigth">
            @if (ViewBag.username == " ")
            {
                <a href="/index/singinpage" class="profile"><i class="fas fa-user-alt"></i><span style="color:black; font-size: .8rem; margin-left:2px; font-weight:900;">Log-in</span></a>
            }
            else
            {
                <a href="/User/Profilepage" class="profile"><i class="fas fa-user-alt"></i><span style="color: black; text-transform: lowercase; font-size: .8rem; margin-left: 2px; font-weight: 900;">@ViewBag.username</span></a>
            }

            <a href="#"><i class="fas fa-comments"></i></a>
            <a href=""><i class="fas fa-map-marker-alt"></i></a>
        </div>
    </div>
    <div class="navegation">

        <nav>
            <ul>
                <li class="Catagories"><a href="#"><i class="fas fa-bars"></i> Catagories</a></li>
                <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="/Orders/Addtocart"><i class="fas fa-server"></i> Cart Detalie</li>
                <li><a href="#"><i class="fas fa-luggage-cart"></i> My orders</a></li>
                <li><a href="#"><i class="fas fa-people-carry"></i> Help</a></li>
                <li><a href="#"><i class="fas fa-info-circle"></i> About</a></li>
                <li><a href="#"><i class="fas fa-address-book"></i> Contact Us</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="home-mid-contain">
    <div class="CATAGORIES-navs">
        <div class="CATAGORIES-nav">
            @foreach (var item in ViewBag.categories)
            {
                <li><a href="/Product/Productshow/@item.Id"> @item.name </a></li>
            }


        </div>
    </div>
    <div class="img-slider">
        <div class="slider active">
            <img src="https://cdn1.arogga.com/eyJidWNrZXQiOiJhcm9nZ2EiLCJrZXkiOiJvcHRpb25cL2F0dGFjaGVkRmlsZXNXZWItXC9zd3hlNmwucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxNDA1LCJoZWlnaHQiOjQ1MCwiZml0Ijoib3V0c2lkZSJ9fX0=" alt="">
            <div class="info">
                <h2></h2>
                <p></p>
            </div>

        </div>
        <div class="slider">
            <img src="https://nextbigtechnology.com/wp-content/uploads/2020/12/banner-14.jpg" alt="">
            <div class="info">
                <h2></h2>
                <p></p>
            </div>

        </div>

        <div class="slider">
            <img src="https://assets.rebelmouse.io/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vYXNzZXRzLnJibC5tcy8yOTI4NjMwMi9vcmlnaW4uanBnIiwiZXhwaXJlc19hdCI6MTcwNTA3MzAxMn0.X3rwUhnBwQpt937qQ9gCcAZpPLWL3q7ge90_xyIauHE/img.jpg?width=800&quality=85&coordinates=0%2C0%2C0%2C0&height=450" alt="">
            <div class="info">
                <h2></h2>
                <p></p>
            </div>

        </div>
        <div class="slider">
            <img src="https://cdn1.arogga.com/eyJidWNrZXQiOiJhcm9nZ2EiLCJrZXkiOiJvcHRpb25cL2F0dGFjaGVkRmlsZXNXZWItXC9zd3hlNmwucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxNDA1LCJoZWlnaHQiOjQ1MCwiZml0Ijoib3V0c2lkZSJ9fX0=" alt="">
            <div class="info">
                <h2></h2>
                <p></p>
            </div>

        </div>

        <div class="slider">
            <img src="https://cdn1.arogga.com/eyJidWNrZXQiOiJhcm9nZ2EiLCJrZXkiOiJvcHRpb25cL2F0dGFjaGVkRmlsZXNXZWItXC94cmt1M3QucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxNDA1LCJoZWlnaHQiOjQ1MCwiZml0Ijoib3V0c2lkZSJ9fX0=" alt="">
            <div class="info">
                <h2></h2>
                <p></p>
            </div>


        </div>
        <div class="slider">
            <img src="https://www.ucsf.edu/sites/default/files/styles/article_feature_banner__image/public/2019-09/pills-pour-out-of-bottle.jpg" alt="">
            <div class="info">
                <h2></h2>
                <p></p>
            </div>


        </div>
        <div class="nav">
            <div class="btn active"></div>
            <div class="btn"></div>
            <div class="btn"></div>
            <div class="btn"></div>
            <div class="btn"></div>
            <div class="btn"></div>
        </div>


        <div class="service-item">
            <a href=""><img src="https://cdn6.arogga.com/img/actions/upload-prescription.png" /></a>
            <a href=""><img src="https://cdn6.arogga.com/img/actions/cto.png" /></a>
            <a href=""><img src="https://cdn6.arogga.com/img/actions/healthcare.png" /></a>

        </div>


    </div>
</div>

@foreach (var C in ViewBag.categories)
{
<div class="best_selles">
    <h2>@C.name</h2>
    <p>MOSTLY  BOUGHT</p>
    <div class="iteam-slider">
        @{ 
            int count = 0;
        }
        @foreach (var item in Model)
        {

            if (C.Id== item.P_categorie_id)
            {
                if (++count == 8)
                {
                    break;
                }
                <div class="best-item"><a href="/Product/Addtocart/@item.Id">
                    <img src="~/Content/img/@item.P_img" alt="">
                    <h3>@item.P_name</h3>
                    <h2>৳-@item.P_price</h2>
                </a></div>

            }


        }
    </div>
</div>
        }

   
    <div class="detailes-service">
        <h5>আরোগ্য থেকে অর্ডার কিভাবে করবেন?</h5>
        <p>১. প্রেস্ক্রিপশনের ছবি আপলোড করুন অথবা ঔষধ সার্চ করে কিনুন।</p>
        <p>২. আমাদের 'A Grade Pharmacist' আপনাকে ফোন করে অর্ডার কনফার্ম করবেন।</p>
        <p>৩. ১৮-৪৮ ঘন্টার মধ্য আপনার ডেলিভারি বুঝে নিন।</p>
    </div>
    <div class="footer">
        <div class="emergency">
            <img src="https://freepikpsd.com/file/2019/10/calling-girl-png-7-Transparent-Images.png" />
            <div class="emergency-title">
                <h5>Can’t find your desired service? Let us know 24/7 in 17321.</h5>
                <button style="font-size:0.7rem;">Request Services</button>
                <button><i class="fas fa-phone-alt"></i>  17321</button>
            </div>
        </div>
        <div class="footer-info">
            <div class="item">
                <h4>CONTACT</h4>
                <p>
                    7321<br />
                    info@company
                    <b>Corporate Address:</b>
                    House # 57, Road # 25, Block - A,
                    Banani, Dhaka 1212
                </p>
            </div>
            <div class="item">
                <h4>INFORMATION</h4>
                <p>Help</p>
                <p>About Us</p>
                <p>Terms of use</p>
                <p>Privacy Policy</p>
                <p>Return and Refund Policy</p>
            </div>

            <div class="item">
                <h4>IUSEFUL LINKS</h4>
                <p>FAQ</p>
                <p>Account</p>
                <p>Medicines</p>
                <p>Special Offers</p>
            </div>
            <div class="item">
                <h4>DOWNLOAD OUR APP</h4>
                <p><img src="https://cdn6.arogga.com/img/google-play-badge.png" alt="arogga" /></p>
                <p><img src="https://cdn6.arogga.com/img/apple-store-badge.png" alt="arogga" /></p>
            </div>

        </div>

        <div class="copy-write">
            <p>
                © @DateTime.Now.Year Medlife Limited. All rights reserved.
            </p>
        </div>
    </div>















