
@{
    ViewBag.Title = "Addtocart";
    Layout = "~/Views/Shared/_productpage.cshtml";
}
<div class="heading_p_page">
    <span>
        <a href="/User/Homepage">Home </a><a href="/Product/Productshow/@ViewBag.categories.Id">/ @ViewBag.categories.name</a><a href="#">/ @Model.P_name</a>
    </span>
</div>
<div class="add-to-cart">

    <div class="cart-product">
        <div class="product-img">
            <img src="~/Content/img/@Model.P_img" />
        </div>
        <div class="cart-deteils">
            <form action="#" method="post">
                <div class="cart-title">
                    <h3>@Model.P_name</h3>
                    <p>Rating is (@ViewBag.totalrat/5)</p>
                </div>
                <hr style="width: 100%; height:1px; background-color: rgba(196, 196, 196, 0.315); border: none;">
                <div class="price">
                    <h2>৳ @Model.P_price</h2>
                </div>
                <hr style="width: 100%; height:1px; background-color: rgba(196, 196, 196, 0.315); border: none;">
                <div class="input">
                    <p>Quantity</p>
                    <input type="number" name="Quantity" id="value" value="1" min="1">

                </div>
                <hr style="width: 100%; height:1px; background-color: rgba(196, 196, 196, 0.315); border: none;">
                <div class="cart-button">
                    <button style="background-color:rgb(230, 128, 61) ;">Buy Now</button>
                    <button style="background-color:rgb(93, 60, 241) ;">Add to Cart</button>
                </div>
            </form>

        </div>
        <div class="delivery-status">
            <div class="delivery">
                <h6>Delivery</h6>
                @if (ViewBag.useer ==" ")
                {
                    <p><i class="fas fa-map-marker-alt"></i> Add your delivery Address </p>
                }
                else
                {
                   <p><i class="fas fa-map-marker-alt"></i> @ViewBag.useer</p>
                }

                <p><i class="fas fa-truck"></i> Home Delivery(2 - 5 day(s))-৳ 40</p>

            </div>

            <div class="delivery">
                <h6>Service	</h6>
                <p>7 Days Returns</p>
            </div>




        </div>
    </div>
    <div class="review-rating">
        <div class="title-r-r">
            <h2>Description</h2>
        </div>
        <div class="reviewsss">
            <p style="margin:15px; padding:30px; text-align:center;">
                @Model.P_details
            </p>
        </div>
    </div>
    <div class="review-rating">
        <div class="title-r-r">
            <h2>Ratings & Reviews</h2>
        </div>
        <div style="display: flex;">

            <div class="Reting">
                <h1>@ViewBag.totalrat/5</h1>
                <img src="~/Content/img/rating.jpg">
            </div>
            <img src="~/Content/img/ratingsss.png" class="ratings">
            <div class="r-r-p">
                <div class="ratingss">
                    <div class="rating-wrap">
                        @if (ViewBag.rating == " "|| ViewBag.rates =="")
                        {
                            <h2>Star Rating (<span id="rating-value"></span>/5) </h2>
                        }
                        else
                        {
                            <h2>Your providing Rating is (<span>@ViewBag.rates</span>/5) </h2>
                        }
                        @if (ViewBag.rating == " " || ViewBag.rates =="")
                        {
                            <div class="center">
                                <fieldset class="ratingsss">
                                    <input type="radio" id="star5" name="rating" value="5" class="inputs" /><label for="star5" class="full" title="Awesome"></label>
                                    <input type="radio" id="star4.5" name="rating" value="4.5" class="inputs" /><label for="star4.5" class="half"></label>
                                    <input type="radio" id="star4" name="rating" value="4" class="inputs" /><label for="star4" class="full"></label>
                                    <input type="radio" id="star3.5" name="rating" value="3.5" class="inputs" /><label for="star3.5" class="half"></label>
                                    <input type="radio" id="star3" name="rating" value="3" class="inputs" /><label for="star3" class="full"></label>
                                    <input type="radio" id="star2.5" name="rating" value="2.5" class="inputs" /><label for="star2.5" class="half"></label>
                                    <input type="radio" id="star2" name="rating" value="2" class="inputs" /><label for="star2" class="full"></label>
                                    <input type="radio" id="star1.5" name="rating" value="1.5" class="inputs" /><label for="star1.5" class="half"></label>
                                    <input type="radio" id="star1" name="rating" value="1" class="inputs" /><label for="star1" class="full"></label>
                                    <input type="radio" id="star0.5" name="rating" value="0.5" class="inputs" /><label for="star0.5" class="half"></label>

                                </fieldset>
                            </div>
                        }




                    </div>
                </div>
                <form action="/Product/reviwerating" method="post" class="form_rating">
                    <input type="hidden" value="" name="rating" id="text-value">
                    <input type="hidden" value="@Model.Id" name="product_id" id="text-value">
                    <input type="text" name="review" placeholder="please provide your review...."><br>
                    <button>Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="review-rating">
        <div class="title-r-r">
            <h2>All Reviews</h2>
        </div>
        @foreach (var item in ViewBag.Ratings)
        {
    <dv class="reviewsss">
        <h5>by @item.username<span>(@item.rating1/5)</span></h5>
        <p>@item.Review.</p>
        <i class="far fa-thumbs-up"></i>(@item.id)
        <i class="far fa-comment"></i>(@item.id)
        <hr style="width: 100%; height:1px; background-color: rgba(196, 196, 196, 0.315); border: none;">
    </dv>
        }

    </div>


</div>
<div class="product_show_add">
    <div class=" product_show">
        @{ 
            int count = 0;
        }
        @foreach (var item in ViewBag.Products)
        {
            if (++count==6)
            {
                break;
            }
            <div class="best-item">
                <a href="/Product/Addtocart/@item.Id">
                    <img src="~/Content/img/@item.P_img" alt="">
                    <h3>@item.P_name</h3>
                    <h2>৳-@item.P_price</h2>
                </a>
            </div>
        }

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="jquery.nice-number.js"></script>
<script>

    $(function () {

        $('input[type="number"]').niceNumber();

    });

    let star = document.querySelectorAll('.inputs');
    let showValue = document.querySelector('#rating-value');
    let showValuetext = document.querySelector('#text-value');

    for (let i = 0; i < star.length; i++) {
        star[i].addEventListener('click', function () {
            i = this.value;

            showValue.innerHTML = i;
            showValuetext.value = i;
        });
    }



</script>

